---
import { Project } from '../../types/project.type';

type GalleryProject = Pick<Project, 'id' | 'name' | 'mainImage' | 'description' | 'year'>;

interface Props {
    project: GalleryProject;
    index: number;
}

const { project, index } = Astro.props;
---

<article
    class="flex w-full flex-col items-center gap-5 md:relative md:mb-[8rem] md:flex-row md:even:flex-row-reverse md:first-of-type:mt-10"
>
    <div class="relative w-full md:w-[40vw]">
        <figure
            class="h-[30vh] w-full overflow-hidden object-cover md:h-[60vh] md:w-[40vw]"
        >
            <img
                src={project.mainImage}
                alt="project image"
                class="h-full w-full"
            />
        </figure>
        <span
            class="absolute right-[-0.5rem] top-[0.5rem] z-[-1] h-[30vh] w-full bg-[var(--image-contrast)] md:right-[-2rem] md:top-[2rem] md:h-[60vh] md:w-[40vw]"
        ></span>
    </div>
    <div
        class:list={[{ 'md:ml-0 md:mr-20 md:items-end': index % 2 === 1 }]}
        class="relative flex flex-col items-center gap-5 md:ml-20 md:w-[40vw] md:items-start"
    >
        <p class="text-4xl md:text-[3rem]">{project.name}</p>
        <p class="text-center text-[20px] md:text-left md:text-[1.7rem]">
            {project.description}
        </p>
        <p
            class:list={[{ 'md:left-auto md:right-[4rem]': index % 2 === 1 }]}
            class="absolute bottom-[-4rem] text-[4rem] text-[var(--dark-light)] md:bottom-[-7rem] md:left-[4rem] md:text-[8rem]"
        >
            {project.year}
        </p>
    </div>
    <div
        class:list={[{ 'md:left-[5rem] md:right-auto': index % 2 === 1 }]}
        class="mt-[2rem] flex flex-col items-center md:absolute md:bottom-0 md:right-[5rem]"
    >
        <a
            href={`project/${project.id}`}
            class="text-[30px text-[var(--dark-smooth)] hover:text-[var(--dark)] md:text-[40px]"
        >
            Veure mes
        </a>
        <span
            class="mt-[0.5rem] h-[1px] w-[20vw] bg-gradient-to-r from-transparent via-[var(--dark-smooth)] to-transparent"
        ></span>
    </div>
</article>
